* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  color: #333333;
  line-height: 21px;
  font-size: 14px;
  overflow-x: hidden;
  background: #fff;
  position: initial;
  margin: 0;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
a {
  color: #333333;
  text-decoration: none;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-navbar #header-navbar-top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px dashed #333333;
  padding-left: 0;
  padding-bottom: 10px;
  width: 270px;
}

.header .header-navbar #header-navbar-top ul li a {
  color: #333333;
  text-transform: uppercase;
}
.header .header-navbar #header-navbar-top ul li:nth-child(2)::after {
  content: "|";
  margin-left: 12px;
}
.header .header-navbar #header-navbar-top ul li:nth-child(2)::before {
  content: "|";
  margin-right: 12px;
}
.header .header-navbar .header-navbar-bottom p {
  font-size: 13px;
  text-align: right;
}

.header .header-navbar .header-navbar-bottom span {
  color: #ff4200;
}

.navbar {
  border-top: 1px solid #e6e6e6;
  padding: 2px 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

#menu-bar ul li {
  margin-right: 30px;
  text-transform: uppercase;
}
#menu-bar ul li a {
  font-weight: 600;
}

#menu-bar ul li:nth-child(1) a span,
#menu-bar ul li:nth-child(2) a span {
  color: #ff4200;
}

#search-bar input {
  background-color: #e6e6e6;
  border: none;
  padding: 10px;
  width: 300px;
}

#menu-bar ul li ul {
  display: block;
  position: absolute;
  padding-left: 0;
  background: #fff;
  padding: 10px 25px;
  width: 190px;
  border-top: 5px solid #ff4200;
  margin-top: 16px;
}

#menu-bar ul li ul li {
  margin-left: 0;
  text-transform: initial;
  margin: 15px 0;
}
